# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/

# Log files
*.log

# System files
.DS_Store

# TensorBoard logs
runs/

# Outputs or model checkpoints
*.ckpt
*.pth
*.pt
model_checkpoints/
checkpoints/

# VSCode settings (optional)
.vscode/

# Environment files (optional)
.env

# Raw Data
NETFLIX_DATA/
notebooks/.nfs000000000002e5ae00000011

# Optuna tuning
*.db
